li.nav-item= link_to 'Users', users_path, class: "nav-link #{:active if controller_name=='users'}"
li.nav-item= link_to 'Orders', orders_path, class: "nav-link #{:active if controller_name=='orders'}"
